*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:black !important;
  color: white !important;
}

body::-webkit-scrollbar{
  display: none;  
}

.nav_bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: blueviolet;
}

.search_bar{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
}

.search_bar input{
  border: none;
  color: white;
  background-color: black;
  width: 90%;
 
}

.search_bar input:focus{
  outline: none;
}


.sub_bar div{
 
  border: 2px solid transparent;
}

.sub_bar div:hover{
  /* background-color: black; */
  border-color: white;
}

.tableR td{
  vertical-align: middle;
}


 #loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    

    .spinner {
      width: 60px;
      height: 60px;
      border: 6px solid #ddd;
      border-top-color: #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }





    /* slider css */
    .slideshow-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slideshow-slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

 .dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
  color: gray;
}

.dot.active {
  color: blue;
}



/*  search box styling*/
.search-container{
display: flex;
min-width: 400px;
border-radius: 50px;
overflow:hidden;
background-color: white;

}

.search-input{
 flex: 1;
 border: none;
 outline: none;
 padding-left: 18px;
}

.search-button{
 height: 45px;
 width: 45px;
 border: none;
 outline: none;
 background-color: #ffc107;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}


.suggest{
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 8px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 150px;
    /* overflow-y: auto; */
    background-color: white;
    border-radius: 6px;
  }
  
  .suggestion-item {
    padding: 10px;
    width: 350px;
    cursor: pointer;
    color: black;
  }
  
  .suggestion-item:hover {
    background-color: rgb(212, 208, 208);
    border-radius: 4px;
    
  }

  .overLay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 90;
  }

  .hamburger{
    display: none;
    font-size: 32px;
    cursor: pointer;
  }

  .mobile-search{
    display: none;
  }


  .mobile-menu{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    /* background-color: #3498db;
    color: white; */
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 40px 20px;
    z-index: 1020;
    transition: right 0.4s ease;
  }

  .mobile-menu.open{
    right: 0px;
  }

  .close-btn{
padding-left: 162px;
padding-bottom: 48px;
font-size: 32px;
}





  @media (max-width:768px) {
    .right{
      display: none;
    }

    .hamburger{
      display: block;
    }

    .desktop-search{
      display: none;
    }

    .mobile-search{
    display: block;
    margin: auto;
   
  }

  .search-container{
    min-width: 300px;
  }

  .suggestion-item{
    width: 250px;
  }

    .nav_bar{
      justify-content: space-between;
      padding-right: 26px;
    }


  }